.profile__edit-button {
  margin-left: 25px;
  width: 24px;
  height: 24px;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen  and (max-width: 949px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px;
  }
}
