.header__logo {
  width: 142px;
  margin-right: auto;
  margin-top: 45px;
  margin-bottom: 35px;
}

@media screen  and (max-width: 949px) {
  .header__logo {
    width: 104px;
    margin-bottom: 29px;
    margin-top: 28px;
    margin-left: 27px;
  }
}



