.popup__button {
  margin: 15px 0 0 0;
  width: 100%;
  max-width: 358px;
  min-height: 50px;
  background: #000000;
  border-radius: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  border-style: none;
  cursor: pointer;
  padding: 5px 0 0;
}

.popup__button:hover {
  opacity: 0.8;
}

@media screen  and (max-width: 949px) {
  .popup__button {
    font-size: 14px;
    line-height: 17px;
    margin: 18px 22px 5px 0;
    min-height: 46px;

  }
}
