.popup__container {
  position: relative;
  width: 100%;
  max-width: 430px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  z-index: 100;
  box-sizing: border-box;
  margin-top: 0;
  padding: 34px 36px 37px 36px;
display: flex;
  flex-flow: column;

}

@media screen  and (max-width: 949px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px 25px 22px;
  }
}
