.profile {
  display: flex;
  justify-content: center;
  flex-flow: row;
  flex-wrap: wrap;
  position: relative;
  width: 68.75%;
  margin: 0 auto;
}

@media screen  and (max-width: 949px) {
  .profile {
    max-width: 88.13%;
  }
}
