.header__logo {
  width: 142px;
  margin-right: auto;
  margin-top: 45px;
  margin-bottom: 41px;
}

@media screen  and (max-width: 486px) {
  .header__logo {
    width: 104px;
    margin-bottom: 31px;
    margin-top: 28px;
    margin-left: 27px;
  }
}

