.header {
  max-width: 68.75%;
  margin: 0 auto;
  border: 1px none rgba(84, 84, 84, 0.7);
  border-bottom-style: solid;
}


@media screen  and (max-width: 949px) {
  .header {
    max-width: 88.13%;
  }
}
