.profile__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-top:16px;
  margin-bottom: 0;
}

@media screen  and (max-width: 949px) {
  .profile__subtitle {
text-align: center;
  }
}
