.profile__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 0;
  max-width: 336px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen  and (max-width: 949px) {
  .profile__subtitle {
    text-align: center;
    margin-top: 7px;
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
    margin-left: 2px;
    }
}
