.footer {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  max-width: 68.75%;
  margin: 0 auto;
  padding-top: 67px;
}

@media screen  and (max-width: 949px) {
  .footer {
    padding-top: 48px;
    margin-bottom: 36px;
    max-width: 88.13%;
  }
}

