.element__like-icon {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  justify-self: right;
  width: 30px;
  height: 20px;
  min-width: 22px;
  background-image: url("../../../images/like-icon.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: 22px 19px;
  border: none;
  box-sizing: content-box;
  cursor: pointer;
 }

.element__like-icon:hover {
  opacity: 0.5;
}



