.popup__close-button {
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url("../../../images/close-button.svg");
  background-position: right;
  background-size: cover;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  z-index: 100;
  cursor: pointer;
  padding: 0;
  top: -40px;
  right: -40px;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen  and (max-width: 948px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    left: calc(50% + 121px);
  }
}
