.popup__item {
  width: 100%;
  max-width: 358px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  font-family: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding-bottom: 13px;
}

.popup__item:last-of-type {
  margin-top: 30px;
}

.popup__item:invalid {
  border-bottom: 1px solid #FF0000;
}

.popup__item:focus {
  border: 2px solid #F94018;
}

