.element__title {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-collapse: collapse;
  padding: 25px 20px 25px 21px;
}
